.page-footer{
    position: absolute;
    width: 100%;
}

div.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 15px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #eceff1;
}

img.estate-img{
    grid-column: 1;
    grid-row: 1 / 3;
}

div.estate-text{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

div.title{
    font-size: 25px;
}

div.subtitle{
    font-size: 15px;
    font-color: #424242;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}