{% load static %}

<script>
        $(document).ready(function () {
            $('.slider').slider({
                full_width: true,
                indicators: false,
                interval: 10000
            });
        });

</script>

<div class="slider">
    <ul class="slides" style="z-index:1;">
        <li>
            <img src= "media/stockphoto_slider1.jpg" width="1343" height="400">
            <div class="caption center-align">
                <h3>Znajdź odpowiednie miejsce</h3>
                <h5 class="light grey-text text-lighten-3">i stwórz w nim swój dom!</h5>
            </div>
        </li>
        <li>
            <img src= "media/stockphoto_slider2.jpg" width="1343" height="400">
            <div class="caption left-align">
                <h3>Twoje marzenia </h3>
                <h5 class="light grey-text text-lighten-3">zaczynają się tutaj!</h5>
            </div>
        </li>
        <li>
            <img src= "media/stockphoto_slider3.jpg" width="1343" height="400">
            <div class="caption right-align">
                <h3>Twoje miejsce</h3>
                <h5 class="light grey-text text-lighten-3">bliżej niż myślisz!</h5>
            </div>
        </li>
    </ul>
</div>